// colors
$black: #333;
$white: #fff;
$placeholder-color: rgba(255,255,255,0.1);
$text-color: rgba(255,255,255,0.3);
$background-color: rgba(255,255,255,0.05);
$active-background-color: rgba(255,255,255,0.1);
$active-text-color: rgba(255,255,255,0.8);